/* Navbar */

#logo {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: white;
    padding: 15px 0px 5px 30px;
}

.nav-container {
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
}

.nav-center  {
    /* align-items: center; */
    /* padding: 60px; */
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

#home {
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    color: white;
    text-decoration: underline;
    text-decoration-color: #ED661F;
    padding: 10px;
}

#about {
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    color: #FFF;
    text-decoration: none;
    padding: 10px;
}

#products {
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    color: #FFF;
    text-decoration: none;
    padding: 10px;
}

#contact-us {
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    color: #FFF;
    text-decoration: none;
    padding: 10px;
}

#login {
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    color: #FFF;
    text-decoration: none;
    padding: 10px;
}

#get-started-button {
    padding:  10px;
    margin: 40px;
}

#get-started-anchor {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    color: #FFF;
    padding-top: 30px;
}

/* General styling for buttons */

button {
    background-color: #ED661F;
    color: white;
}

/* Description Page */

#description-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 40px;
    padding: 60px 0 0 50px;
}

#description-subheading {
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    padding: 0 0 10px 50px;
}

#explore-more-button {
    padding: 15px;
    float: left;
    position: relative;
    left: 50px;
}

#explore-more {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #FFF;
    text-decoration: none;
    padding: 0 0 300px 0;
}

.description-page {
    background-image: url("../assets/image 1.png");
    background-size: cover;
    background-position: center;
    height: 600px;
}

.stats-card {
    display: flex;
    justify-content: center;
}

.stats-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #FFF;
    position: relative;
    top: 100px;
    outline-style: outset;
}

.stats-container > h4 {
    padding: 40px;
}


/* Why we exist page */
#exist {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color: #ED661F;
    text-underline-offset: 0.1em;
    padding: 200px 10px 0 50px;
}

#exist-text {
    display: flex;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    padding: 0 10px 50px 50px;
}

#exist-image {
    position: absolute;
    top: 900px;
    right: 10px;
    width: 675px;
    height: 450px;
}

/* Product Categories section */

#categories-heading {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-top: 30px;
    /* bottom: 5px solid #ED661F; */
}

#categories-text {
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 1.2em;
}

#most-popular-heading {
    font-family: 'Poppins', sans-serif;
    padding: 50px;
}

.popular-categories {
    display: flex;
    justify-content: flex-start;
    padding-left: 50px;
}

/* General styling for images */
img {
    width: 75%;
}

.newest-items {
    display: flex;
    padding: 10px 50px;
}

/* Newest Item Section */
#newest-item-heading {
    font-family: 'Poppins', sans-serif;
    padding-left: 50px;
}

#newest-item-click {
    float: right;
    /* position: absolute; */
    /* bottom: 500px; */
}

/* Customer Review section */
#reviews-heading {
    font-family: 'Poppins', sans-serif;
    padding: 50px;
}

.customer-reviews {
    display: flex;
    padding-left: 50px;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

.reviews-image {
    width: 40%;
}

#reviews-clickable {
    float: right;
}

/* Footer */

.footer-container {
    background-color: #000;
}

#footer-header {
    font-family: 'Poppins', sans-serif;
    color: #FFF;
    font-size: 25px;
    display: flex;
    justify-content: center;
    padding: 60px 0 0 60px;
}

#footer-subheader {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #FFF;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.form-input {
    display: flex;
    justify-content: center;
    padding: 0 80px 60px 0;
}

#form-field {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding: 5px 15px 5px 50px;
}

#subscribe {
    position: absolute;
    right: 550px;
    padding: 8px 20px 20px 20px;
    width: 140px;
    height: 34px;
    font-size: 14px;
}

/* #subscribe-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding: -30px;
    color: #FFF;
} */

i {
    color: #FFF;
    width: 20%;
    height: 20%;
}

.footer-break {
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    color: #FFF;
    padding: 50px;
}

.footer-left {
    padding: ;
}

.footer-header-logo {
    font-size: 20px;
    padding: 40px;
}

.store-button {
    display: flex;
    width: 20%;
    height: 15%;
}

.footer-details {
    display: flex;
    justify-content: space-evenly;
    padding-right: 100px;
    font-size: 20px;
}

.company-container {
    justofy-content: space-between;
    padding: 40px;
}

.product-container {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.products {
    font-family: 'Poppins', sans-serif;
}

.others-container {
    padding: 40px;
}

h3 {
    font-family: 'Poppins', sans-serif;
    color: #FFF;
    text-align: center;
    padding: 40px;
}

.link {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: #FFF;
}