/* Navbar */

#logo {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: white;
    padding: 15px 0px 5px 30px;
}

.nav-container {
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
}

.nav-center  {
    /* align-items: center; */
    /* padding: 60px; */
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

#home {
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    color: white;
    text-decoration: underline;
    text-decoration-color: #ED661F;
    padding: 10px;
}

#about {
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    color: #FFF;
    text-decoration: none;
    padding: 10px;
}

#products {
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    color: #FFF;
    text-decoration: none;
    padding: 10px;
}

#contact-us {
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    color: #FFF;
    text-decoration: none;
    padding: 10px;
}

#login {
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    color: #FFF;
    text-decoration: none;
    padding: 10px;
}

#get-started-button {
    padding:  10px;
    margin: 40px;
}

#get-started-anchor {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    color: #FFF;
    padding-top: 30px;
}

/* General styling for buttons */

button {
    background-color: #ED661F;
    color: white;
}

/* Description Page */

main {
    font-family: 'Inter', sans-serif;
}

#description-heading {
    font-weight: bolder;
    font-size: 40px;
}

#description-subheading {
    font-size: 25px;
}

button > #explore-more {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #FFF;
    text-decoration: none;
    padding: 30px;
    margin: 30px;
}

.description-page {
    background-image: url("./image 1.png");
}


/* Why we exist page */
#exist {
    text-decoration: underline;
    text-decoration-color: #ED661F;
}

#exist-image {
    float: right;
    width: 720px;
    height: 480px;
}
